<header th:fragment="entete">
    <nav class="bg-gradient-to-r from-blue-900 to-blue-700 p-4 shadow-lg">
        <div class="flex items-center justify-between">
            <div class="flex items-center">
                <h1 class="text-white text-2xl font-bold">eni enchère</h1>
            </div>

            <div class="flex items-center space-x-4">
                <p class="text-white"><a th:href="@{/inscription}" class="hover:underline">S'inscrire</a></p>
                <p class="text-white"><a th:href="@{/connexion}" class="hover:underline">Se connecter</a></p>           
        </div>
    </nav>
</header>