<!DOCTYPE html>




<title>Enchères - Vendre un article</title>

<main>
<div th:replace="~{fragments/fragment-entete :: entete}"></div>
	<h2>Nouvelle vente</h2>

	<section>



		<form th:action="@{/encheres/vendre}" method="post"
			th:object="${article}">




			<div class="bloc-article-description">
				<div>
					<label for="article">Article :</label> <input type="text"
						id="article" data-th-name="nomArticle"
						pattern="^[a-zA-Z0-9À-ÿ\s\p{P}]{2,}$" required>
				</div>

				<div>
					<label for="description">Description :</label>
					<textarea id="description" data-th-name="description"
						pattern="^[a-zA-Z0-9À-ÿ\s\p{P}]{2,}$" rows="4" required></textarea>
				</div>
			</div>

			<div>
				<label for="categorie">Catégorie</label> <select id="categorie"
					data-th-name="categorie" required>
					<option value="">Veuillez sélectionner une catégorie</option>
					<option data-th-each="cat : ${CategoriesEnSession}"
						data-th-text="${cat.libelle}" data-th-value="${cat.noCategorie}"></option>
				</select>
			</div>


			<!-- <label for="photo">Photo de l'article</label>
					<input type="file" id="photo" name="photo"> -->

			<div>
				<label for="miseAPrix">Mise à prix :</label> <input type="number"
					id="miseAPrix" data-th-name="miseAPrix" min="1" required>
			</div>

			<div>
				<label for="dateDebutEncheres">Début de l'enchère :</label> <input
					type="date" id="dateDebutEncheres" data-th-name="dateDebutEncheres"
					required>
			</div>

			<div>
				<label for="dateFinEncheres">Fin de l'enchère :</label> <input
					type="date" id="dateFinEncheres" data-th-name="dateFinEncheres"
					required>
			</div>

			<fieldset>
				<legend>Retrait</legend>

				<div>
					<label for="rue">Rue :</label> <input type="text" id="rue"
						data-th-name="rue" required>
				</div>

				<div>
					<label for="codePostal">Code postal :</label> <input type="text"
						id="codePostal" data-th-name="codePostal" required>
				</div>

				<div>
					<label for="ville">Ville :</label> <input type="text" id="ville"
						data-th-name="ville" required>
				</div>

			</fieldset>

			<div class="boutons-formulaire">
				<input type="submit" value="Enregistrer"> <input
					type="reset" value="Annuler">
			</div>

		</form>



	</section>

</main>

</html>
