<!DOCTYPE html>


<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Page d'accueil</title>
</head>
<main>
	<div th:replace="~{fragments/fragment-entete :: entete}"></div>
	<div class="container">
		<div class="Lumière">

			<div sec:authorize="isAuthenticated()" class="statutConnection">
				<p>
					<span sec:authentication="name"></span> est connecté.e
				</p>
			</div>

			<p>
				<strong> Filtres :</strong>
			</p>
			<input type="search" id="recherche" name="recherche"
				placeholder="Le nom de l'article contient" />


			<button>Rechercher</button>

			<!-- 		<p><strong>Catégorie :</strong></p> <label for="Catégorie-select"></label> -->

			<!--     	<select name="Categorie" id="Categorie-select"> -->

			<!--       	<option value="">--Choisir sa Catégorie--</option> -->

			<!--       	<option value="tout">Tout</option> -->

			<!--       	<option data-th-each="categorie : ${categorie}" -->
			<!--     			data-th-value="${categorie.no_categorie}" -->
			<!--     			data-th-text="${categorie.name}"> -->
			<!-- 		</option> -->
			<!-- 	    </select> -->

			<div>
				<label for="categorie">Catégorie</label> <select id="categorie"
					data-th-name="categorie" required>
					<option value="">Veuillez sélectionner une catégorie</option>
					<option data-th-each="cat : ${CategoriesEnSession}"
						data-th-text="${cat.libelle}" data-th-value="${cat.noCategorie}"></option>
				</select>
			</div>


			<div class="multiTache">

				<div class="achats">

					<div sec:authorize="isAuthenticated()">

						<label for="achats"><input type="radio" id="achats"
							name="achats" value="achats" checked />Achats : </label>

						<div>
							<label for="encheres ouvertes"><input type="checkbox"
								id="encheres ouvertes" name="encheres ouvertes" /> enchères
								ouvertes</label>
						</div>

						<div>
							<label for="mes encheres en cours"><input type="checkbox"
								id="mes encheres en cours" name="mes encheres en cours" /> mes
								enchères en cours</label>
						</div>

						<div>
							<label for="mes encheres remportees"><input
								type="checkbox" id="mes encheres remportees"
								name="mes encheres remportees" /> mes enchères remportées</label>
						</div>
					</div>
				</div>

				<div class="ventes">

					<div sec:authorize="isAuthenticated()">

						<label for="Mes Ventes"><input type="radio"
							id="Mes Ventes" name="achats" value="Mes Ventes" checked />Mes
							Ventes : </label>

						<div>
							<label for="mes ventes en cours"><input type="checkbox"
								id="mes ventes en cours" name="mes ventes en cours" /> mes
								ventes en cours</label>
						</div>

						<div>
							<label for="ventes non debutees"><input type="checkbox"
								id="ventes non debutees" name="ventes non debutees" /> ventes
								non débutées</label>
						</div>

						<div>
							<label for="ventes terminees"><input type="checkbox"
								id="ventes terminees" name="ventes terminees" /> ventes
								terminées</label>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="divArticles">
		<div class="carte-produit" data-th-each="article : ${articles}">
			<div class="card-product-infos">
				<!-- Lien vers la page de détail -->
				<h2>
					<a
						data-th-href="@{/encheres/article/detail/{id}(id=${article.noArticle})}"
						data-th-text="${article.nomArticle}"></a>
				</h2>
				<p>
					Prix : <span data-th-text="${article.prixVente}"></span>
				</p>
				<p>
					Fin de l'enchère : <span data-th-text="${article.dateFinEncheres}"></span>
				</p>
				<p>
					Vendeur : <span data-th-text="${article.vendeur.pseudo}"></span>
				</p>
			</div>
		</div>

	</div>
</main>
</html>
