<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Inscription - ENI Enchères</title>
	<link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
	
<body>
	<div th:replace="~{fragments/fragment-entete :: entete}"></div>
	<h1>Inscription</h1>
	
	<form th:action="@{/inscription}" th:object="${utilisateur}" method="post">
            <div>
                <label for="pseudo">Pseudo :</label>
                <input type="text" id="pseudo" th:field="*{pseudo}" required />
            </div>
            
            <div>
                <label for="nom">Nom :</label>
                <input type="text" id="nom" th:field="*{nom}" required />
            </div>
            
            <div>
                <label for="prenom">Prénom :</label>
                <input type="text" id="prenom" th:field="*{prenom}" required />
            </div>
            
            <div>
                <label for="email">Email :</label>
                <input type="email" id="email" th:field="*{email}" required />
            </div>
            
            <div>
                <label for="telephone">Téléphone :</label>
                <input type="tel" id="telephone" th:field="*{telephone}" />
            </div>
            
            <div>
                <label for="rue">Rue :</label>
                <input type="text" id="rue" th:field="*{rue}" required />
            </div>
            
            <div>
                <label for="codePostal">Code postal :</label>
                <input type="text" id="codePostal" th:field="*{codePostal}" required />
            </div>
            
            <div>
                <label for="ville">Ville :</label>
                <input type="text" id="ville" th:field="*{ville}" required />
            </div>
            
            <div>
                <label for="motDePasse">Mot de passe :</label>
                <input type="password" id="motDePasse" th:field="*{motDePasse}" required />
            </div>
            
            <div>
                <label for="confirmation">Confirmation :</label>
                <input type="password" id="confirmation" name="confirmation" required />
            </div>
            
            <button type="submit">Créer</button>
            <a th:href="@{/}">Annuler</a>
        </form>
</body>
</html>