<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Réinitialisation du mot de passe</title>
<link rel="icon" type="image/x-icon" th:href="@{/img/favicon.png}">
<link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>
    <div th:replace="~{/fragments/fragment-entete :: entete}"></div>
    
    <div class="bg-white p-8 rounded-lg shadow-md w-full max-w-md mt-6">
        <h2 class="text-2xl font-bold text-center text-gray-700 mb-6">Réinitialisation du mot de passe</h2>
        <form th:action="@{/motdepasseoublie}" method="POST" class="space-y-4">
            <div>
                <label class="block text-gray-600 text-sm font-semibold mb-2">Email :</label>
                <input type="email" name="email" required 
                    class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500">
            </div>
            <button type="submit" 
                class="w-full bg-blue-500 text-white py-2 px-4 rounded-lg hover:bg-blue-600 transition duration-300">
                Suivant
            </button>
        </form>
    </div>
</body>
</html>
