<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title th:text="#{passwordReset.page.title}">Réinitialisation du mot de passe</title>
<link rel="icon" type="image/x-icon" th:href="@{/img/favicon.png}">
<link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>

    <!-- EN TETE -->
    <div th:replace="~{fragments/fragment-entete :: entete}"></div>

    <!-- Container Principale comme pour les autre pages-->
    <div class="bg-gray-100 flex items-center justify-center min-h-screen p-4">
        <div class="bg-white shadow-lg rounded-lg w-full max-w-xl md:max-w-4xl p-4 sm:p-6 md:p-8 mt-4">
            
            <!-- Titre de la page -->
            <h2 class="text-center text-2xl font-bold mb-6"
                th:text="#{passwordReset.title}">Réinitialisation du mot de passe
            </h2>
            
            <!-- FORM de réinitialisation -->
            <form th:action="@{/motdepasseoublie}" method="POST" class="space-y-4">
                <div>
                    <label class="block text-gray-600 text-sm font-semibold mb-2"
                           th:text="#{passwordReset.form.label.email}">Email :
                    </label>
                    <input type="email" name="email" required 
                           class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500"
                           th:placeholder="#{passwordReset.form.placeholder.email}">
                </div>
                <button type="submit"
                        class="w-full bg-blue-500 text-white py-2 px-4 rounded-lg hover:bg-blue-600 transition duration-300"
                        th:text="#{passwordReset.form.button.next}">Suivant
                </button>
            </form>
        </div>
    </div>
</body>