<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title th:text="#{passwordReset.page.title}">Réinitialisation du mot de passe</title>
    <link rel="icon" type="image/x-icon" th:href="@{/img/favicon.png}">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-100">

  <!-- EN TETE -->
  <div th:replace="~{fragments/fragment-entete :: entete}"></div>
    
  <!-- Container Principale comme pour les autre pages -->
    <div class="bg-gray-100 flex items-center justify-center min-h-screen p-4">
        <div class="bg-white shadow-lg rounded-lg w-full max-w-xl md:max-w-4xl p-4 sm:p-6 md:p-8 mt-4">
            
    
	<!-- Title -->
    <h2 class="text-2xl font-semibold text-gray-700 text-center mb-4"
        th:text="#{passwordReset.title}"> Réinitialisation du mot de passe pour 
        <span class="text-blue-500" th:text="${email}"></span>
    </h2>

	 <!-- Form Nouveau MDP -->
	    <form th:action="@{/motdepasseoublie/reset}" method="POST" class="space-y-4">
	      <input type="hidden" name="email" th:value="${email}" />
	      
	      <div>
	        <label class="block text-gray-600 font-medium"
	               th:text="#{passwordReset.form.label.newPassword}">Nouveau mot de passe :
	        </label>
	        <input type="password" name="nouveauMotDePasse" required
	               class="w-full px-4 py-2 mt-1 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-400"
	               th:placeholder="#{passwordReset.form.placeholder.newPassword}"/>
	      </div>

            <button type="submit" 
              class="w-full bg-blue-500 hover:bg-blue-600 text-white font-semibold py-2 rounded-lg transition"
              th:text="#{passwordReset.form.button.change}">Changer
            </button>
        </form>
    </div>

</body>
</html>
