<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Vendeur</title>
<link rel="icon" type="image/x-icon" th:href="@{/img/favicon.png}">
<link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>
<p><strong>Debug :</strong> Crédits utilisateur = <span th:text="${creditsUtilisateur}"></span></p>

	<div th:replace="~{/fragments/fragment-entete :: entete}"></div>
    <div class="bg-white p-6 rounded-lg shadow-lg w-full max-w-md">
        <h2 class="text-xl font-bold mb-4">Profil</h2>
        <form class="space-y-4">
            <div>
                <label class="block font-medium">Pseudo</label>
                <input type="text" name="pseudo" class="w-full p-2 border rounded-lg" th:value="${vendeur.pseudo}" required readonly>
            </div>
            <div>
                <label class="block font-medium">Nom</label>
                <input type="text" name="nom" class="w-full p-2 border rounded-lg" th:value="${vendeur.nom}" required readonly>
            </div>
            <div>
                <label class="block font-medium">Prénom</label>
                <input type="text" name="prenom" class="w-full p-2 border rounded-lg" th:value="${vendeur.prenom}" required readonly>
            </div>
            <div>
                <label class="block font-medium">Email</label>
                <input type="email" name="email" class="w-full p-2 border rounded-lg" th:value="${vendeur.email}" required readonly>
            </div>
            <div>
                <label class="block font-medium">Téléphone</label>
                <input type="tel" name="telephone" class="w-full p-2 border rounded-lg" th:value="${vendeur.telephone}" required readonly>
            </div>
            <div>
                <label class="block font-medium">Rue</label>
                <input type="text" name="rue" class="w-full p-2 border rounded-lg" th:value="${vendeur.rue}" required readonly>
            </div>
            <div>
                <label class="block font-medium">Code Postal</label>
                <input type="text" name="code_postal" class="w-full p-2 border rounded-lg" th:value="${vendeur.codePostal}" required readonly>
            </div>
            <div>
                <label class="block font-medium">Ville</label>
                <input type="text" name="ville" class="w-full p-2 border rounded-lg" th:value="${vendeur.ville}" required readonly>
            </div>
        </form>
        
        <form th:action="@{/encheres/vendeur/supprimer}" method="post" th:value="${vendeur}">
        	<th:block th:if="${isAdmin}">
        		<input type="hidden" th:value="${vendeur.noUtilisateur}" />
            	<button type="submit" class="w-full bg-red-500 text-white p-2 rounded-lg hover:bg-red-600 focus:outline-none focus:ring-2 focus:ring-red-400 focus:ring-opacity-50 mt-4">Supprimer le compte</button>
			</th:block>
        </form>
    </div>
</body>
</html>